body {

    background-color: peachpuff;
    width:auto;
    height:auto;
    text-align:center;

}

.navigation-image{

    opacity: 0.8;
    height: 80px;
    width: 100px;
}

.navigation-image:hover{

    opacity: 1.0;
    height: 80px;
    width: 100px;
}

.header-image{

    height: 100px;
    width: 120px;
    -webkit-box-shadow: 0 0 10px #ccc; 
    box-shadow: 0 0 10px #ccc;
    position:absolute;
    top: 15px;
    right: 70px;

}