body {

    background-color: #FFCC99;
    width:auto;
    height:auto;
    color:saddlebrown;

}

h1{

    text-align:center;
}

.navigation-image{


    opacity: 0.8;
    height: 80px;
    width: 100px;
}

.navigation-image:hover{

    opacity: 1.0;
    height: 80px;
    width: 100px;
}

.header-image{

    height: 120px;
    width: 140px;
    -webkit-box-shadow: 0 0 10px #ccc; 
    box-shadow: 0 0 10px #ccc;
    position:absolute;
    top: 15px;
    right: 70px;

}

img{
    height: 200px;
    width: 200px;
}

.notepad{

    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #FFCC99;
    font-family: 'Comic Sans MS';
    background-color: saddlebrown;
    height: 400px;
    width: 300px;


}