body {

}

h1{
        text-align: center;
}

img{

    height: 150px;
    width: 150px;
    position: relative;
}

button{
    align-self: center;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    font-family: 'Comic Sans MS';
    font-weight: bold;

}

.button{

    align-items: center;
}


div{

    float: left;
    padding: 10px;
    margin: 5px;
}


.mydivision{
    width: 100%;
    float: left;
    text-align: left;
}

.div-header{
    float: left;
    width: 100%;
    font-family: 'Comic Sans MS';
    text-align: center;
    background-color: #a08fbb;
    text-align:center;
    padding:3px;
    margin: 1px;
    color: white;


}