body {

    background-color: #7A7A99;
    color:  #E8E8E8;
}

input {

    height: 30px;
    width: 200px;
}
audio{

    height: 30px;
    width: 40px;
    background-color: #BCBCCC;

}

.mybutton{

    border-radius: 10px;
    font-family: 'Comic Sans MS';
    color: #E8E8E8;
    background-color: #131314;
}