/*        
    AUTHOR:     SHRUTI SANJAY PATANKAR
    FILE TYPE:  CSS
    DISCLAIMER: THIS CODE HAS BEEN DONE AS A PART OF WEB DEVELOPMENT LEARNING COURSE
    TERM:       SPRING 2015
    PROFESSOR:  RICHARD RASALA
    UNIVERSITY: NORTHEASTERN UNIVERSITY, BOSTON

    About home.css:
    This css has been applied to the home page of the project(home.html)

*/

/* These are general attributes applied to the body of HTML */


body {
    align-items: center;
    font-family: 'Comic Sans MS';
    font-size: medium;
    overflow-x: hidden;
}

/* This css is for menu bar for the top of the page
   It has two divs inside it:
    1. menu-right
    2. menu-left

    menu-right: is used to display the name of the prject: "Travel Diaries"
    menu-left: Actual Menu: Home, Documentation etc
     */
.menu .menu-left a {
    padding: 0.5% 0.5% 0.5% 0.5%;
    margin: 0.5% 0.5% 0.5% 0.5%;
    text-decoration: none;
    color: #337db2;
    font-weight: bold;
    font-size: medium;
    float: left;
}

.menu .menu-right {
    font-family: 'Comic Sans MS';
    font-weight: bolder;
    padding: 0.5% 0.5% 0.5% 0.5%;
    margin: 0.5% 0.5% 0.5% 0.5%;
    text-decoration: none;
    color: #337db2;
    font-size: medium;
    float: right;
}


.menu {
    float: left;
    width: 100%;
}

/*
    This css has been applied to the div that is using css z-index.
    I have puposefully not flipped the images infinitely. Since home page will be
    viewed only to know more about the project.
    */
#background {
    padding-left: 0.5%;
    float: left;
    position: relative;
    height: 400px;
    width: 99%;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
}

/* The image in the div is made to exactly fit into the page*/
#background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 400px;
        width: 100%;
        border-radius: 1px;
}



/* This div simply displays information about this website */
#summary {
    float: left;
    width: 99%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0.5%;
    padding-right: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: justify;
    font-family: 'Comic Sans MS';
}

/* Applied to the footer of the page*/
footer {
    float: left;
    padding: 0.2%;
}

@media only screen and (max-width: 590px) {

body{

    width: 100%;
    font-size: 120%;
    overflow-x: hidden;

}


.menu .menu-left a {
    text-align: center;
    padding: 0.5% 0.5% 0.5% 0.5%;
    margin: 0.5% 0.5% 0.5% 0.5%;
    text-decoration: none;
    color: #337db2;
    font-weight: bold;
    font-size: 100%;
    float: left;
    width: 100%;
}

.menu .menu-right {
    text-align: center;
    font-family: 'Comic Sans MS';
    font-weight: bolder;
    padding: 0.5% 0.5% 0.5% 0.5%;
    margin: 0.5% 0.5% 0.5% 0.5%;
    text-decoration: none;
    color: #337db2;
    font-size: 120%;
    float: right;
    width: 100%;
}


.menu {
    float: left;
    width: 100%;

}


#background{
        width: 90%;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1%;
        padding-bottom: 1%;
        margin: 1% 1% 1% 1%;
        border-radius: 1px;
}

#background img{

    height: 100%;
    width: 100%;

}

#summary {
    float: left;
    width: 90%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: justify;

} 

}

