body {

      text-align: center;
    font-family: 'Comic Sans MS';

}

.map-canvas{

    border-style: solid;
    border-color: #c4b9b9;
    border-width: 3px;
    width: 40%;
    height: 200px;


}

.map-canvas-12{
    border-style: solid;
    border-color: #c4b9b9;
    border-width: 3px;
    width: 80%;
    height: 400px;

}

input{

    height: 30px;
    width: 200px;
    border-style: solid;
    border-width: 2px;
    font-size: large;


}

button{

    width: 10%;
    height: 30px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    background-color: #c4b9b9;
    font-weight: bold;
    font-family: 'Comic Sans MS';
}



div{
    float: left;
    padding: 10px;
    margin: 5px;

}

.map-type{
    width: 95%;
    height: 250px;
    float: left;
    padding: 10px;
    margin: 5px;
    overflow: scroll;

}

.mydivision{
    width: 95%;
    float: left;
    text-align: left;
}

.div-header{
    float: left;
    width: 100%;
    font-family: 'Comic Sans MS';
    text-align: center;
    background-color: #c4b9b9;
    color: black;
    text-align:center;
    padding:3px;
    margin: 1px;


}


